@model IEnumerable<BusinessLayer.PartsInventory>
    @using BusinessLayer

@{
    ViewBag.Title = "InventoryDetails";
}
    <div style="">
        <h2 style="text-align:center"><b>Inventory Details</b></h2>
        <div style="">
            @Html.ActionLink(" " + ViewData["req"] + "  Parts Request", "Create", "Inventories", new { Style = "color:purple;font-size:25px;float:right;" })
            <br />
        </div>
          <p><br />
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PartID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarMfgID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Picture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Fitment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SelectedVehicles)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Qty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Approved)
                </th>
                <th>Actions</th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarMfgID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>

                <img src="@Url.Content(item.ImagePath)" height="70px" width="70px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fitment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.selctedCarBrands)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
      

            @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PartID }) |
                @Html.ActionLink("Details", "Details", new { id = item.PartID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PartID })
            </td>
        </tr>
            }

        </table>
    </div>
