@model BusinessLayer.PartsInventory

@{
    ViewBag.Title = "Create";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Care-n-Repair</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/modernizr.custom.86080.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>

   
</head>





    <style>
        .chosen-container {
            width: 100% !important;
        }

        .chosen-single {
            width: 100%;
            height: 305px;
        }

        .container {
            position: relative;
            font-family: Arial;
            width: 95%;
        }

        .text-block {
            position: sticky;
            bottom: 80%;
            right: 10%;
            background-color: transparent;
            color: white;
            padding-left: 20px;
            padding-right: 0px;
        }
    </style>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/chosen.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-sm navbar-dark primary-color" style="background-color:darkslategrey">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">Care-n-Reapir</a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="https://localhost:44316/Home">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://localhost:44316/quotations">Request Quotation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://localhost:44316/inventories">Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown multi-level-dropdown">
                    <a href="#" id="menu" data-toggle="dropdown" class="nav-link dropdown-toggle w-100">Order</a>
                    <ul class="dropdown-menu mt-2 rounded-0 primary-color border-0 z-depth-1">
                        <li class="dropdown-item dropdown-submenu p-0">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-white w-100">Click Me Too! </a>

                        </li>
                        <li class="dropdown-item dropdown-submenu">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-white w-100">Click me </a>
                            <ul class="dropdown-menu mr-2 rounded-0  primary-color border-0 z-depth-1 r-100 ">
                                <li class="dropdown-item p-0">
                                    <a href="#" class="text-white w-100">How</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="@Url.Action("Myorder", "AddToCart")" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-shopping-cart" style="color:green"></span>Cart @Session["products"].ToString()<span class="badge">5</span>
                    </a>
                </li>
            </ul>
         
          
                    <!-- Links -->

                 
        </div>
        <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->
    <div style="background-image:url('https://c4.wallpaperflare.com/wallpaper/519/11/672/car-car-parts-bmw-wallpaper-preview.jpg')">
        <div class="container">
            <img class="mySlides" src="~/Images/backgg.jpg" style="width:100%;height:370px;">
            <img class="mySlides" src="~/Images/b2.jpg" style="width:100%;height:370px;">
            <img class="mySlides" src="~/Images/b3.jpg" style="width:100%;height:370px;">


            <div class="text-block" style=" margin-left:auto; margin-right:auto;">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                    <table style=" margin-left:auto; margin-right:auto;">



                        @Html.AntiForgeryToken()
                        <tr>

                            <td>



                                @Html.DropDownListFor(m => m.selctedCarBrands, Model.GetVehivclesList.Select(x => new SelectListItem
                           {
                               Text = x.Make,
                               Value = x.Id.ToString()
                           }), "Select Vehicle", new { @class = "form-control chosen-select", onchange = "this.form.submit();", @multipleclass = "chosen-select", id = "DDL", style = " border-color:yellow" })





                            </td>
                            <td>


                                @Html.DropDownListFor(m => m.selctedCarModel, Model.GetModelList.Select(x => new SelectListItem
                           {
                               Text = x.Model,
                               Value = x.Id.ToString()
                           }), "Select Vehicle", new { @class = "form-control chosen-select", onchange = "this.form.submit();", @multipleclass = "chosen-select", id = "DDLL", style = " border-color:yellow" })






                            </td>
                            <td>
                                @Html.DropDownListFor(m => m.selectedYear, (IEnumerable<SelectListItem>)ViewBag.Years, "Select Year", new { @class = "form-control chosen-select", onchange = "this.form.submit();", @multipleclass = "chosen-select", id = "DDL2", style = " border-color:grey; height:40px;width:100%;" })
                            </td>

                            <td>
                              
                                @Ajax.ActionLink("Search ", "AllTest", new { NID = Convert.ToInt32(Model.selctedCarModel), id = Convert.ToInt32(Model.selctedCarBrands), YID = Model.selectedYear },
  new AjaxOptions
  {
      HttpMethod = "GET", // HttpMethod to use, GET or POST
      UpdateTargetId = "Cardd", // ID of the HTML element to update
      InsertionMode = InsertionMode.Replace // Replace the existing contents
  },new { @class = "btn btn-warning" })

                            </td>
                           
                        </tr>


                    </table>
                }



            </div>

        </div>

    </div>


    <div>

    </div>
    <!-- Head End  AFter Head Start-->
    <div class="containerr">


        <div class="card" style="width:100%">

            <div class="card-body" id="Cardd" style="text-align:center">

                @{
                    //  Html.RenderAction("All", "Home");
                    // Html.RenderPartial("_Parts");
                }
                <article class="bg-secondary mb-3">
                    <div class="card-body text-center">
                        <h4 class="text-white">Care-n-Repair@KSA </h4>
                        <p class="h5 text-white">
                            for customization of your car or
                            for repair of your car engiene , body and all.
                        </p>   <br>
                        <p>
                            <a class="btn btn-warning" target="_blank" href="http://bootstrap-ecommerce.com/">
                                care-n-repair.com
                                <i class="fa fa-window-restore "></i>
                            </a>
                        </p>
                    </div>
                    <br><br><br>
                </article>
            </div>
        </div>

    </div>

  
</body>
</html>
<script>
        var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 5000); // Change image every 2 seconds
    }



    $('#DDL').chosen();
    $('#DDLL').chosen();
    $('#DDL2').chosen();
</script>
@section Scripts {

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/chosen.jquery.min.js"></script>
}
