@model BusinessLayer.PartsInventory
@using BusinessLayer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .chosen-container {
        width: 100% !important;
    }

    .chosen-single {
        width: 100%;
        height: 305px;
    }

    .container {
        position: relative;
        font-family: Arial;
        width: 95%;
    }

    .text-block {
        position: sticky;
        bottom: 80%;
        right: 10%;
        background-color: transparent;
        color: white;
        padding-left: 20px;
        padding-right: 0px;
    }
</style>

<div id="carouselExampleSlidesOnly" class="carousel slide" style="width:100%" data-ride="carousel">
    <div class="text-block" style="text-align:center; position:absolute; left:0; right:0; z-index:9;">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <table style="margin-left:auto; margin-right:auto;">
                @Html.AntiForgeryToken()
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.selctedCarBrands, Model.GetVehivclesList.Select(x => new SelectListItem
                   {
                       Text = x.Make,
                       Value = x.Id.ToString()
                   }), "Select Vehicle", new { @class = "form-control custom-select chosen-select", onchange = "this.form.submit();", @multipleclass = "chosen-select", id = "DDL", style = "border-color:yellow" })

                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.selctedCarModel, Model.GetModelList.Select(x => new SelectListItem
                   {
                       Text = x.Model,
                       Value = x.Id.ToString()
                   }), "Select Vehicle", new { @class = "form-control chosen-select", onchange = "this.form.submit();", @multipleclass = "chosen-select", id = "DDLL", style = " border-color:yellow" })

                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.selectedYear, (IEnumerable<SelectListItem>)ViewBag.Years, "Select Year", new { @class = "form-control chosen-select", onchange = "this.form.submit();", @multipleclass = "chosen-select", id = "DDL2", style = " border-color:yellow" })
                        </div>

                    </td>
                    <td>
                        <div class="form-group">
                            @Ajax.ActionLink("Search ", "AllTest", new { NID = Convert.ToInt32(Model.selctedCarModel), id = Convert.ToInt32(Model.selctedCarBrands), YID = Model.selectedYear },
new AjaxOptions
{
HttpMethod = "GET", // HttpMethod to use, GET or POST
UpdateTargetId = "Cardd", // ID of the HTML element to update
InsertionMode = InsertionMode.Replace // Replace the existing contents
}, new { @class = "btn btn-warning" })
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Images/backgg.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h2>Amazing cars available</h2>
                <p>This is the first dummy slide</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/b2.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-block">
                <h2>Car Parts Available</h2>
                <p>Second Dummy Slide</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/b3.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-block">
                <h5>Request for new parts</h5>
                <p>third dummy slide</p>
            </div>
        </div>
    </div>
</div>
@*<div>
          <div class="container" style="margin-left:90px;margin-right:90px;">
              <img class="mySlides" src="~/Images/backgg.jpg" style="width:100%;height:370px;">
              <img class="mySlides" src="~/Images/b2.jpg" style="width:100%;height:370px;">
              <img class="mySlides" src="~/Images/b3.jpg" style="width:100%;height:370px;">


              <div class="text-block" style=" margin-left:auto; margin-right:auto;">
                  @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                  {
                      <table style=" margin-left:auto; margin-right:auto;">
                          @Html.AntiForgeryToken()
                          <tr>
                              <td>
                                  @Html.DropDownListFor(m => m.selctedCarBrands, Model.GetVehivclesList.Select(x => new SelectListItem
                             {
                                 Text = x.Make,
                                 Value = x.Id.ToString()
                             }), "Select Vehicle", new { @class = "form-control chosen-select", onchange = "this.form.submit();", @multipleclass = "chosen-select", id = "DDL", style = " border-color:yellow" })
                              </td>
                              <td>
                                  @Html.DropDownListFor(m => m.selctedCarModel, Model.GetModelList.Select(x => new SelectListItem
                             {
                                 Text = x.Model,
                                 Value = x.Id.ToString()
                             }), "Select Vehicle", new { @class = "form-control chosen-select", onchange = "this.form.submit();", @multipleclass = "chosen-select", id = "DDLL", style = " border-color:yellow" })
                              </td>
                              <td>
                                  @Html.DropDownListFor(m => m.selectedYear, (IEnumerable<SelectListItem>)ViewBag.Years, "Select Year", new { @class = "form-control chosen-select", onchange = "this.form.submit();", @multipleclass = "chosen-select", id = "DDL2", style = " border-color:yellow" })
                              </td>
                              <td>

                                  @Ajax.ActionLink("Search ", "AllTest", new { NID = Convert.ToInt32(Model.selctedCarModel), id = Convert.ToInt32(Model.selctedCarBrands), YID = Model.selectedYear },
    new AjaxOptions
    {
        HttpMethod = "GET", // HttpMethod to use, GET or POST
        UpdateTargetId = "Cardd", // ID of the HTML element to update
        InsertionMode = InsertionMode.Replace // Replace the existing contents
    }, new { @class = "btn btn-warning" })
                              </td>
                          </tr>
                      </table>
                  }
              </div>
          </div>
      </div>*@

<!-- Head End  AFter Head Start-->
<div class="container" style="width:120%">


    <div class="card" style="width:100%">

        <div class="card-body" id="Cardd" style="text-align:center">

            @{
                if (ViewBag.parrt != null)
                {
                    //Html.RenderAction("AllTest", "Home");
                    foreach (PartsInventory item in ViewBag.parrt)
                    {
                        using (Html.BeginForm("PlaceOrder", "Home", FormMethod.Post))
                        {
                            <div class="card">
                                <div class="row card-body">
                                    @*product image*@
                                    <div class="col-4">
                                        <div class="img-big-wrap img-thumbnail card-img">
                                            <img src="@Url.Content(item.ImagePath)" style="max-height:200px; width:100%" />
                                        </div>
                                    </div>
                                    @*product description and actions*@
                                    <div class="col-8 text-left">
                                        <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                                        <p class="price-detail-wrap">
                                            <span class="price h3 text-warning">
                                                <span class="currency">US <i class="fa fa-usd"></i></span><span class="num"> @Html.DisplayFor(modelItem => item.SalePrice)</span>
                                            </span>
                                        </p> <!-- price-detail-wrap .// -->
                                        <div>
                                            @Html.Hidden("PartID", item.PartID)
                                            @Html.Hidden("SalePrice", item.SalePrice)
                                            @Html.Hidden("ImagePath", item.ImagePath)
                                            @Html.Hidden("Name", item.Name)
                                            @Html.Hidden("Description", item.Description)
                                            @Html.Hidden("PartID", item.PartID)
                                            @Html.Hidden("IDD", item.PartID)
                                            <h6>Description</h6>
                                            <p class="small">
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </p>
                                        </div>
                                        <div class="pt-4">
                                            <input id="Submit1" type="submit" data-toggle="modal" data-target="#myModal" class="btn btn-danger" value="Order" />
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        }

                    }


                }
            }
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 5000); // Change image every 2 seconds
        }
        $('#DDL').chosen();
        $('#DDLL').chosen();
        $('#DDL2').chosen();
    </script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>*@
    @*@Scripts.Render("~/bundles/jquery")*@
    @*<script src="~/Scripts/chosen.jquery.min.js"></script>*@
}
