<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Care-n-Repair</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/chosen.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    @Styles.Render("~/Content/css")

</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-sm container-fluid" style="background-color:aliceblue">
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <div class="col-2">
                <a class="navbar-brand text-black-50" href="#">
                    <i class="fa fa-car" aria-hidden="true"></i>
                    Care-n-Reapir
                </a>
                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
            </div>

            <div class="col-5">
                <div class="input-group">
                    <input class="form-control py-2" type="search" placeholder="Search" id="example-search-input">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-5 d-flex">
                <div class="btn-group col-6">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i> Account
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
                <div class="btn-group col-6">
                    <a href="@Url.Action("CheckOut", "Home")" type="button" class="btn btn-success">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span class="badge"> @Session["count"]</span> Cart
                    </a>
                </div>
            </div>
        </div>

        <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->
    @*bottom navbar*@
    <nav class="navbar navbar-expand-sm m-0 pl-1 pr-1 pt-0 pb-0 shadow-sm" style="background-color:aliceblue;">
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav justify-content">
                <li class="nav-item"><a href="#" class="nav-link font-weight-bold text-dark pl-3">Shop By Vehicle</a></li>
                <li class="nav-item"><a href="#" class="nav-link font-weight-bold text-dark pl-3">Shop By Brand</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid mt-2 pt-2">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center">&copy; @DateTime.Now.Year - Care-n-Reapir </p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
