@model IEnumerable<BusinessLayer.PartsInventory>
@{
    Layout = null;


}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/chosen.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/chosen.jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    .gallery-wrap .img-big-wrap img {
        height: 450px;
        width: auto;
        display: inline-block;
        cursor: zoom-in;
    }


    .gallery-wrap .img-small-wrap .item-gallery {
        width: 60px;
        height: 60px;
        border: 1px solid #ddd;
        margin: 7px 2px;
        display: inline-block;
        overflow: hidden;
    }

    .gallery-wrap .img-small-wrap {
        text-align: center;
    }

        .gallery-wrap .img-small-wrap img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 4px;
            cursor: zoom-in;
        }
</style>

@using (Html.BeginForm("PlaceOrder", "Home", FormMethod.Post))
{



<div class="container" style=" width:100%">
    @{
        if (Model.Count() == 0)
        { <h2>Sorry :( Nothing Found for you search... </h2> }
    }

    @foreach (var item in Model)
    {
        <div class="card">
            <div class="row card-body">
                @*product image*@
                <div class="col-4">
                    <div class="img-big-wrap img-thumbnail card-img">
                        <img src="@Url.Content(item.ImagePath)" style="max-height:200px; width:100%" />
                    </div>
                </div>
                @*product description and actions*@
                <div class="col-8 text-left">
                    <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                    <p class="price-detail-wrap">
                        <span class="price h3 text-warning">
                            <span class="currency">US <i class="fa fa-usd"></i></span><span class="num"> @Html.DisplayFor(modelItem => item.SalePrice)</span>
                        </span>
                    </p> <!-- price-detail-wrap .// -->
                    <div>
                        @Html.Hidden("PartID", item.PartID)
                        @Html.Hidden("SalePrice", item.SalePrice)
                        @Html.Hidden("ImagePath", item.ImagePath)
                        @Html.Hidden("Name", item.Name)
                        @Html.Hidden("Description", item.Description)
                        @Html.Hidden("IDD", item.PartID)
                        <h6>Description</h6>
                        <p class="small">
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                    </div>
                    <div class="pt-4">
                        <input id="Submit1" type="submit" data-toggle="modal" data-target="#myModal" class="btn btn-danger" value="Order" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
}


<!--container.//-->


<br>
<br>
<br>
<article class="bg-secondary mb-3">
    <div class="card-body text-center">
        <h4 class="text-white">Care-n-Repair@KSA </h4>
        <p class="h5 text-white">
            for customization of your car or
            for repair of your car engiene , body and all.
        </p>   <br>
        <p>
            <a class="btn btn-warning" target="_blank" href="http://bootstrap-ecommerce.com/">
                care-n-repair.com
                <i class="fa fa-window-restore "></i>
            </a>
        </p>
    </div>
    <br><br><br>
</article>

<div class="container">

    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color:gold">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <h1>Paers Added Into Cart</h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
  function OrderPostback() {
            debugger;
     alert( $('#Qty option:selected').val());

                $.ajax({
                    url: '@Url.Action("PlaceOrder","Home")',
                    type: 'GET',
                    data: { qty: $('#Qty option:selected').val(),id :$('#idd').val() },
                    success: function () {


                    },
                    error: function () {
                        alert("error");
                    }
                });
                return false;
        }
</script>
